<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Goal" data-toc-modified-id="Goal-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Goal</a></span></li><li><span><a href="#Var" data-toc-modified-id="Var-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Var</a></span></li><li><span><a href="#Init" data-toc-modified-id="Init-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Init</a></span></li><li><span><a href="#Load" data-toc-modified-id="Load-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Load</a></span></li><li><span><a href="#Taxonomy" data-toc-modified-id="Taxonomy-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Taxonomy</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Enterobacteriaceae" data-toc-modified-id="Enterobacteriaceae-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Enterobacteriaceae</a></span></li><li><span><a href="#UBA1067" data-toc-modified-id="UBA1067-5.0.2"><span class="toc-item-num">5.0.2&nbsp;&nbsp;</span>UBA1067</a></span></li><li><span><a href="#F082" data-toc-modified-id="F082-5.0.3"><span class="toc-item-num">5.0.3&nbsp;&nbsp;</span>F082</a></span></li><li><span><a href="#Bacteroidaceae" data-toc-modified-id="Bacteroidaceae-5.0.4"><span class="toc-item-num">5.0.4&nbsp;&nbsp;</span>Bacteroidaceae</a></span></li></ul></li><li><span><a href="#GTDBr89" data-toc-modified-id="GTDBr89-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>GTDBr89</a></span><ul class="toc-item"><li><span><a href="#UBA1067" data-toc-modified-id="UBA1067-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>UBA1067</a></span></li><li><span><a href="#F082" data-toc-modified-id="F082-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>F082</a></span></li></ul></li></ul></li><li><span><a href="#sessionInfo" data-toc-modified-id="sessionInfo-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>sessionInfo</a></span></li></ul></div>

# Goal

* exploration of the taxonomy

# Var

In [55]:
# GTDBr89 genome metadata
meta_file = '/ebio/abt3_projects/databases_no-backup/GTDB/release89/LLMGP-DB/metadata_1per-GTDB-Spec_gte50comp-lt5cont_wtaxID_wPath.tsv'

# braken count table
brk_file = '/ebio/abt3_projects2/global_metagenome_diversity/data/global_metagenomes/diversity/bracken_filt2.qs'

# sample metadata
base_in_dir = '/ebio/abt3_projects2/global_metagenome_diversity/data/public_data_retireval/'
samp_metadata_file = file.path(base_in_dir, 'CurMetDat-metagenomes', 'files', 'metadata', 'Filtered_CurMetDat_ff.tsv')

# metadata
#meta_bac_file = '/ebio/abt3_projects/databases_no-backup/GTDB/release89/metadata/bac120_metadata_r89.tsv'
#meta_arc_file = '/ebio/abt3_projects/databases_no-backup/GTDB/release89/metadata/ar122_metadata_r89.tsv'
#meta_file = '/ebio/abt3_projects/databases_no-backup/GTDB/release89/LLMGP-DB/metadata_1per-GTDB-Spec_gte50comp-lt5cont_wtaxID_wPath.tsv'

# params
threads = 4

# Init

In [58]:
library(dplyr)
library(tidyr)
library(ggplot2)
library(data.table)
library(tidytable)
library(LeyLabRMisc)

In [59]:
df.dims()

# Load

In [60]:
# all 
samp_meta = fread(samp_metadata_file, sep='\t', check.names=TRUE) %>%
    select.(Sample, dataset_name, subjectID, study_condition, 
              disease, age, gender, BMI, westernized) %>%
    mutate.(disease_status = ifelse(disease != 'healthy', 'diseased', disease))
## summary
samp_meta %>% unique_n('Subjects', subjectID)
samp_meta %>% unique_n('Samples', Sample)
samp_meta %>% unique_n('Datasets', dataset_name)
samp_meta

No. of unique Subjects: 2943
No. of unique Samples: 2943
No. of unique Datasets: 30

     Sample            dataset_name          subjectID         study_condition
1    TRAVELRES1        Bengtsson-PalmeJ_2015 TRAVELRES1_2      control
2    TRAVELRES11       Bengtsson-PalmeJ_2015 TRAVELRES11_12    control
⋮    ⋮                 ⋮                     ⋮                 ⋮
2942 PNP_Validation_45 ZeeviD_2015           PNP_Validation_45 control
2943 PNP_Validation_46 ZeeviD_2015           PNP_Validation_46 control
     disease age gender BMI westernized disease_status
1    healthy 25  female NA  TRUE        healthy
2    healthy 22  female NA  TRUE        healthy
⋮    ⋮       ⋮   ⋮      ⋮   ⋮           ⋮
2942 healthy NA         NA  TRUE        healthy
2943 healthy NA         NA  TRUE        healthy

In [61]:
# reading in bracken counts
brk_cls = qs::qread(brk_file, nthreads=threads) %>%
    mutate.(name = name %>% gsub(' ', '_', .))
brk_cls$Sample %>% unique_n('Samples')
brk_cls

No. of unique Samples: 2943

        dataset       name                         taxonomy_id taxonomy_lvl
1       CosteaPI_2017 s__Caecibacter_massiliensis  108259      S
2       CosteaPI_2017 s__UBA1777_sp002350825       178550      S
⋮       ⋮             ⋮                            ⋮           ⋮
4427629 YuJ_2015      s__Serratia_grimesii         121568      S
4427630 YuJ_2015      s__Bacteroides_A_sp002161565 119189      S
        Domain   Phylum         Class               Order
1       Bacteria Firmicutes_C   Negativicutes       Veillonellales
2       Bacteria Firmicutes_A   Clostridia          Oscillospirales
⋮       ⋮        ⋮              ⋮                   ⋮
4427629 Bacteria Proteobacteria Gammaproteobacteria Enterobacterales
4427630 Bacteria Bacteroidota   Bacteroidia         Bacteroidales
        Family             Genus         Species
1       Megasphaeraceae    Caecibacter   Caecibacter massiliensis
2       Oscillospiraceae   UBA1777       UBA1777 sp002350825
⋮       ⋮                  ⋮             ⋮
4427629 Enterobacteriaceae Serratia      Serratia grimesii
4427630 Bacteroidaceae     Bacteroides_A Bacteroides_A sp002161565
        Sample           Abundance
1       halbarad.11.0.0  0
2       halbarad.11.0.0  0
⋮       ⋮                ⋮
4427629 SZAXPI017592.142 0
4427630 SZAXPI017592.142 0

In [62]:
# checking overlap
brk_cls = brk_cls %>%
    semi_join.(meta, c('Sample'))
brk_cls$Sample %>% unique_n('Samples')

ERROR: Error in get_bys(x, y, by): by.y columns not in y

# Taxonomy

### Enterobacteriaceae

In [ ]:
# summarizing
brk_cls_f = brk_cls %>%
    inner_join.(samp_meta, c('Sample')) %>%
    filter.(westernized != '',
            disease_status != '',
            age != '',
            gender != '') %>%
    filter.(Family == 'Enterobacteriaceae') %>%
    summarize.(Abundance = mean(Abundance),
               .by=c(Sample, Domain, Phylum, Class, Order, Family)) %>%
    filter.(Abundance > 0)
brk_cls_f

In [63]:
brk_cls_f %>% .$Sample %>% unique_n('samples')

No. of unique samples: 1044

### UBA1067

In [64]:
# genera
brk_cls %>%
    filter.(Family == 'UBA1067') %>%
    .$Genus %>% table
# species
brk_cls %>%
    filter.(Family == 'UBA1067') %>%
    .$Species %>% table

.
 RUG572 UBA1067 UBA1731 UBA3624
   1282    5436     368     390

.
 RUG572 sp900320225 UBA1067 sp002298665 UBA1067 sp002315875 UBA1067 sp002321305
               1282                 413                 107                1320
UBA1067 sp002350535 UBA1067 sp002351765 UBA1067 sp002363575 UBA1067 sp002371135
                332                 217                 117                 217
UBA1067 sp002371755 UBA1067 sp002392765 UBA1067 sp002395905 UBA1067 sp002440145
                165                 217                 217                 217
UBA1067 sp002449695 UBA1067 sp900320855 UBA1067 sp900321255 UBA1731 sp002317575
                368                1312                 217                 368
UBA3624 sp002373695
                390

In [65]:
brk_cls %>%
    filter.(Family == 'UBA1067') %>%
    .$Species %>% unique_n()

No. of unique items: 17

### F082

In [66]:
# genera
brk_cls %>%
    filter.(Family == 'F082') %>%
    .$Genus %>% table
# species
brk_cls %>%
    filter.(Family == 'F082') %>%
    .$Species %>% table

.
F082
2714

.
F082 sp001543395 F082 sp002311655 F082 sp002396205 F082 sp002633315
             744              134              134             1702

### Bacteroidaceae

In [67]:
# Bacteroideceae
brk_cls %>%
    filter.(Family == 'Bacteroidaceae') %>%
    .$Genus %>% table

.
    Alloprevotella        Bacteroides      Bacteroides_A      Bacteroides_B
              3555             126755              42420              14634
     Bacteroides_C      Bacteroides_E            CAG-462            CAG-617
              1947                980               2746               5034
             F0040              Ga6A1     Paraprevotella         Prevotella
              2133               1842               5886             376497
Prevotellamassilia             RUG210            UBA1179            UBA3839
             11229                196                 88               3302
           UBA4293            UBA4334            UBA4372            UBA6382
               680               4584               6374               3965
           UBA6398
              7692

## GTDBr89

In [68]:
# genome metadata
meta = Fread(meta_file) %>%
    select.(accession, checkm_completeness, checkm_contamination,
            gtdb_taxonomy) %>%
    separate.(gtdb_taxonomy, taxonomy_levels(), sep=';')
meta

      accession          checkm_completeness checkm_contamination Domain
1     GB_GCA_002789635.1 79.44               0                    d__Archaea
2     GB_GCA_001784635.1 74.92               0                    d__Archaea
⋮     ⋮                  ⋮                   ⋮                    ⋮
23359 GB_GCA_001775395.1 94.51               3.48                 d__Bacteria
23360 GB_GCA_002791595.1 92.06               2.75                 d__Bacteria
      Phylum             Class             Order             Family
1     p__Aenigmarchaeota c__Aenigmarchaeia o__CG10238-14     f__CG10238-14
2     p__Aenigmarchaeota c__Aenigmarchaeia o__CG10238-14     f__CG10238-14
⋮     ⋮                  ⋮                 ⋮                 ⋮
23359 p__Zixibacteria    c__MSB-5A5        o__UBA10806       f__UBA10806
23360 p__Zixibacteria    c__MSB-5A5        o__UM-FILTER-46-8 f__UM-FILTER-46-8
      Genus             Species
1     g__CG10238-14     s__CG10238-14 sp002789635
2     g__RBG-16-49-10   s__RBG-16-49-10 sp001784635
⋮     ⋮                 ⋮
23359 g__UBA10806       s__UBA10806 sp001775395
23360 g__UM-FILTER-46-8 s__UM-FILTER-46-8 sp002791595

### UBA1067

In [69]:
# clades in certain families
meta %>%
    filter.(Family == 'f__UBA1067') %>%
    .$Genus %>% unique_n()

meta %>%
    filter.(Family == 'f__UBA1067') %>%
    .$Species %>% unique_n()

No. of unique items: 6
No. of unique items: 21

### F082

In [70]:
# certain clades
meta %>%
    filter.(Family == 'f__F082') %>%
    filter.(Genus == 'g__F082') %>%
    distinct.(Class, Order, Family, Genus)

  Class          Order            Family  Genus
1 c__Bacteroidia o__Bacteroidales f__F082 g__F082

In [71]:
# clades in certain families
meta %>%
    filter.(Family == 'f__F082') %>%
    .$Genus %>% unique_n()

meta %>%
    filter.(Family == 'f__F082') %>%
    .$Species %>% unique_n()

No. of unique items: 8
No. of unique items: 29

# sessionInfo

In [72]:
sessionInfo()

R version 4.1.1 (2021-08-10)
Platform: x86_64-conda-linux-gnu (64-bit)
Running under: Ubuntu 18.04.6 LTS

Matrix products: default
BLAS/LAPACK: /ebio/abt3_projects2/global_metagenome_diversity/envs/phyloseq/lib/libopenblasp-r0.3.17.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C
 [9] LC_ADDRESS=C               LC_TELEPHONE=C
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] LeyLabRMisc_0.2.0 tidytable_0.6.5   data.table_1.14.0 ggplot2_3.3.5
[5] tidyr_1.1.3       dplyr_1.0.7

loaded via a namespace (and not attached):
 [1] Rcpp_1.0.7          pillar_1.6.2        compiler_4.1.1
 [4] qs_0.25.1           base64enc_0.1-3     tools_4.1.1
 [7] bit_4.0.4           digest_0.6.28       uuid_0.1-4
[10] jsonlite_1.7.2      evaluate_0.14       lifecycle_1.0.0
[13] tibble_3.1.4        gtable_0.3.0        pkgconfig_2.0.3
[16] rlang_0.4.11        IRdisplay_1.0       IRkernel_1.2
[19] fastmap_1.1.0       repr_1.1.3          withr_2.4.2
[22] generics_0.1.0      vctrs_0.3.8         bit64_4.0.5
[25] grid_4.1.1          tidyselect_1.1.1    RApiSerialize_0.1.0
[28] glue_1.4.2          R6_2.5.1            fansi_0.4.2
[31] pbdZMQ_0.3-5        purrr_0.3.4         magrittr_2.0.1
[34] scales_1.1.1        ellipsis_0.3.2      htmltools_0.5.2
[37] colorspace_2.0-2    stringfish_0.15.2   utf8_1.2.2
[40] RcppParallel_5.1.4  munsell_0.5.0       crayon_1.4.1